*{
    margin: 0;
    padding: 0;
}
/* <!----------------------------------Navbar CSS--------------------------> */
.banner {
    width: 100%;
    height: 100vh;
    background-image: url(./images/lightbluebackground.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.navbar a:hover {
        opacity: 0.5;
}
.logo {
    width: 120px;
    cursor: pointer;
}
.logo:hover{
    opacity: 0.8;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(6, 64, 158);
    text-transform: uppercase;

}

/* <!-------------------------------------Information CSS---------------------------------------------------------------- */
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
}
#information{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 3px solid rgba(0,0,0,0.05);
    /* transition: 3s; */
}
.info-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info-heading span{
    color: #0e0f46;
}
.info-heading h3{
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}
.info-heading h3:hover{
    color: rgb(223, 223, 241);
}
.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
    
    
}
.info-box {
    width: 200px;
    background-color: rgb(253, 253, 254);
    border: 2px solid #05175e;
    margin: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    transition: 4s;
    
    
    
}
.info-box:hover{
    width: 300px;
    
    
}
.info-box:hover img{
    width: 200px;
   
    /* height: 500px; */
}

.info-img {
    width: 80%;
    height: auto;
    transition: 2s;
}
.info-img img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    object-position: center;
    transition: 4s;
}
.info-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.info-text span{
    color: #0d2c69;
    font-size: 0.9rem;
}
.info-text .info-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #1f166d;
}
.info-text .info-title:hover{
    color: wheat;
    transition: 0.4s;
}
.info-text p{
    color: #2b2b2b;
    font-size: 00.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}