*{
    margin: 0;
    padding: 0;
}
<!----------------------------------Navbar CSS-------------------------->
.banner {
    width: 100%;
    height: 100vh;
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.navbar a:hover {
        opacity: 0.5;
}
.logo {
    width: 120px;
    cursor: pointer;
}
.logo:hover{
    opacity: 0.8;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(6, 64, 158);
    text-transform: uppercase;

}

<!-------------------------------------Information CSS---------------------------------------------------------------->