*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
/*------------------------------Navbar CSS------------------------------*/
.banner {
    width: 100%;
    height: 100vh;
    background-image: url(./images/navy.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.navbar a:hover {
        opacity: 0.5;
}
.logo {
    width: 120px;
    cursor: pointer;
}
.logo:hover{
    opacity: 0.8;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(90, 143, 228);
    text-transform: uppercase;

}
/* <!--------------------------------------Blog CSS-------------> */
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    /* transition: 3s; */
}
.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-heading span{
    color: #021a46;
}
.blog-heading h3{
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 100;
}
.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
    
    
}
.blog-box {
    width: 350px;
    background-color: #ffff;
    border: 1px solid #ececec;
    margin: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    transition: 4s;
    
    
    
}
.blog-box:hover{
    width: 400px;
    /* height: 500px; */
    
}
.blog-box:hover img{
    width: 400px;
    /* height: 500px; */
}

.blog-img {
    width: 100%;
    height: auto;
    transition: 4s;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 4s;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color: #0d2c69;
    font-size: 0.9rem;
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 100;
    color: #1f166d;
}
.blog-text .blog-title:hover{
    color: wheat;
    transition: 0.4s;
}
.blog-text p{
    color: #2b2b2b;
    font-size: 00.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
@media and screen (max-width: 1250px) {
    .blog-box {
        width: 300px;

    } 
}
@media (max-width: 1100px) {
    .blog-box{
        width: 70%;
    }
    
}
@media(max-width:550px){
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
}